<section class="site-banner jarallax min-height300 padding-large" style="background: url(/images/@ViewBag.img) no-repeat fixed center;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">@ViewBag.pagename</h1>
            </div>
        </div>
    </div>
</section>