@{
    List<(string Name, string Link)> navItems = ViewBag.NavItems;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SearchTask.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/608e9d3ec2.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="header">
        <div id="header-wrap">
            <nav class="primary-nav padding-small">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-2 col-md-2">
                            <div class="main-logo">
                                <a href="index.html">
                                    <img src="/images/main-logo.png" alt="logo" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10">
                            <div class="navbar">
                                <div id="main-nav" class="stellarnav d-flex justify-content-end right">
                                    <ul class="menu-list">
                                        @if (ViewBag.NavItems != null)
                                        {
                                            @foreach (var item in navItems)
                                            {
                                                <li>
                                                    <a href="@Html.Raw(item.Link)" class="item-anchor">@item.Name</a>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="/user/login" class="item-anchor">Login</a>
                                            </li>
                                            <li>
                                                <a href="/user/signup" class="item-anchor">Sign up</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    @RenderBody()
    <footer id="footer">
        <div class="container">
            <div class="footer-menu-list">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Ultras</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="about.html">About us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Conditions </a>
                                </li>
                                <li class="menu-item">
                                    <a href="blog.html">Our Journals</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Careers</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Affiliate Programme</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Ultras Press</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Customer Service</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="faqs.html">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="contact.html">Contact</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Returns & Refunds</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Cookie Guidelines</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Delivery Information</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Contact Us</h5>
                            <p>
                                Do you have any questions or suggestions?
                                <a href="#" class="email">ourservices@ultras.com</a>
                            </p>
                            <p>
                                Do you need assistance? Give us a call. <br />
                                <strong>+57 444 11 00 35</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Forever 2018</h5>
                            <p>
                                Cras mattis sit ornare in metus eu amet adipiscing enim.
                                Ullamcorper in orci, ultrices integer eget arcu. Consectetur
                                leo dignissim lacus, lacus sagittis dictumst.
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-youtube-play"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-behance-square"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/plugins.js"></script>
    <script>
        var swiper = new Swiper(".main-swiper", {
            speed: 500,
            loop: true,
            navigation: {
                nextEl: ".button-next",
                prevEl: ".button-prev",
            },
            pagination: {
                el: "#billboard .swiper-pagination",
                clickable: true,
            },
        });
    </script>
</body>
</html>
