@{
    ViewData["Title"] = "EditProfile";
}
@model User

<style>
    input {
        width: 60%;
    }

        input[type=file] {
            background-color: #fff;
            border: 1px solid #d2cbcb;
            border-radius: 3px;
            color: black;
        }
</style>
<section style="background-color:#e7e6e6;" class="padding-large">
    <div class="form">
        <form method="post" asp-action="EditProfile" asp-controller="User">
            <input asp-for="username" hidden />
            <div class="form-group">
                <label asp-for="name">Name</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password">Password</label>
                <input asp-for="password" type="password" class="form-control" placeholder="If you want to change password Enter new password, else Enter old password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age">Age</label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address">Address</label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mobileNum">Phone</label>
                <input asp-for="mobileNum" class="form-control" />
                <span asp-validation-for="mobileNum" class="text-danger"></span>
            </div>
            <div class="gender-radio form-group">
                <label class="form-label" for="form2Example27" asp-for="Gender">Gender</label>
                <input type="radio" name="Gender" value="Male" checked style="width:auto;margin-right:5px" asp-for="Gender" />Male
                <input type="radio" name="Gender" value="Female" style="width:auto;margin-right:5px;margin-left:55px" asp-for="Gender" />Feamle
            </div>
            <button type="submit" class="btn btn-primary" style="text-align:center;background-color:black;
                color:#fff;width: 119px;height: 50px;margin-bottom:30px">
                Submit
            </button>
        </form>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

