@model ProductFormViewModel

<style>
    input {
        width: 60%;
    }

        input[type=file] {
            background-color: #fff;
            border: 1px solid #d2cbcb;
            border-radius: 3px;
            color: black;
        }
</style>
<section style="background-color:#e7e6e6;" class="padding-large">
    <div class="form">
        <form method="post" asp-action=@ViewBag.link asp-controller="Product">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price">Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mount">Quantity</label>
                <input asp-for="mount" class="form-control" />
                <span asp-validation-for="mount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imag">Image</label>
                <input asp-for="imag" type="file" class="form-control" value="@Model?.imag" />
                <span asp-validation-for="imag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select name="CategoryId" class="form-control">
                    @foreach (Category c in ViewBag.categoryNames)
                    {
                        @if (Model?.CategoryId == c.id)
                        {

                            <option value="@c.id" selected>@c.name</option>

                        }
                        else
                        {
                            <option value="@c.id">@c.name</option>
                        }
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-primary" style="text-align:center;background-color:black;
        color:#fff;width: 119px;height: 50px;margin-bottom:30px">
                Submit
            </button>
        </form>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>